/* Portfolio.css */

.portfolio-container {
    padding: 10px;
    margin: 0 auto;
  }
  
  .project {
    margin-bottom: 40px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .project h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-description {
    margin-bottom: 20px;
  }
  
  .project-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .project-images img {
    width: calc(33.33% - 10px);
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .project-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project-info {
    flex: 1;
    margin-right: 20px;
  }
  
  .project-info h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .project-info ul {
    list-style: none;
    padding: 0;
  }
  
  .project-info ul li {
    margin-bottom: 5px;
  }
  
  /* Add media query for better responsiveness on smaller screens */
  @media (max-width: 768px) {
    .project-images img {
      width: calc(50% - 10px);
    }
  
    .project-details {
      flex-direction: column;
    }
  
    .project-info {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  @media (max-width:425px) {
    .project-images {
        flex-direction: column;
        width: 100%;
      }
      .project-images img {
        width: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
      }
  }
  